@import '@styles/base';

.actions {
  gap: 0.75rem;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  font-size: 0.85rem;
  font-family: 'Poppins', 'sans-serif';
  border-radius: 0.25rem;
  padding: 0.1rem 0.5rem;
}

.delete {
  border-color: $color-red;
  color: $color-bg-primary;
  background-color: $color-red;
  &:hover {
    color: $color-text-primary;
    background-color: transparent;
  }
}

.cancel {
  border-color: $color-text-primary;
  color: $color-text-primary;
  &:hover {
    color: $color-bg-primary;
    background-color: $color-text-primary;
  }
}
