@import '@styles/base';

.container {
  @include flex-center-column;
  // justify-content: center;
  min-height: 100vh;

  &__back {
    align-self: flex-start;
    // padding-left: 20rem;
    // background-color: red;
    margin-bottom: 40%;
    margin-top: -60%;
    padding-left: 10%;
    padding-bottom: 5%;
    
    @include apply-at-sm-size {
      align-self: flex-start;
      margin-bottom: 0;
      margin-top: -5%;
      padding-left: 35%;
      padding-bottom: 5%;
    }
  }

  &__header {
    // position: absolute;
    // margin-top: 7rem;
    background-color: $color-bg-primary;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    margin-top: -10rem;
    width: 15rem;
    height: 13rem;

    @include apply-at-sm-size {
      margin-top: 0;
      width: 15rem;
      height: 11rem;
    }

    .content {
      @include flex-center-column;

      .img {
        position: relative;
        margin-top: -2rem;
        background: lightblue;
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }

      .info {
        @include flex-center-column;
        padding: 15px 0;

        &__username {
          font-size: $font-size-large;
          font-weight: 600;
        }

        &__email {
          font-size: $font-size-small;
          font-weight: 400;
        }
      }

      .button {
        @include flex-center-column(.5rem);

        button {
          border: none;
          height: 30px;
          cursor: pointer;
          border-radius: 5px;
          background: $color-text-primary;
          color: $color-white;
          font-size: $font-size-small;
          font-weight: 600;
          z-index: 100;

          .updateUser,
          .changePassword {
            @include flex-row(.3rem);
            align-items: center;
          }

          .edit,
          .password {
            font-size: $font-size-medium;
          }
        }

        button:hover {
          background: lighten($color-primary, 10%);
        }
      }
    }
  }
}